.ipynb_checkpoints/histogram_stretch-checkpoint.png
.ipynb_checkpoints/image-load-checkpoint.ipynb
.ipynb_checkpoints/pixel-operations-checkpoint.ipynb
python/.ipynb_checkpoints/histogram_equalization-checkpoint.py
python/data/.ipynb_checkpoints/300px-Unequalized_Hawkes_Bay_NZ-checkpoint.jpg
.ipynb_checkpoints/color-spaces-checkpoint.ipynb
.ipynb_checkpoints/gamma-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/pyav-test-checkpoint.ipynb
book/_build/doctrees/environment.pickle
book/_build/doctrees/index.doctree
book/_build/doctrees/rsts/color-spaces.doctree
book/_build/latex/.ipynb_checkpoints/cvip-checkpoint.pdf
book/_build/latex/cvip.aux
book/_build/latex/cvip.fdb_latexmk
book/_build/latex/cvip.fls
book/_build/latex/cvip.idx
book/_build/latex/cvip.log
book/_build/latex/cvip.out
book/_build/latex/cvip.pdf
book/_build/latex/cvip.tex
book/_build/latex/cvip.toc
book/_build/latex/footnotehyper-sphinx.sty
book/_build/latex/latexmkjarc
book/_build/latex/latexmkrc
book/_build/latex/LatinRules.xdy
book/_build/latex/LICRcyr2utf8.xdy
book/_build/latex/LICRlatin2utf8.xdy
book/_build/latex/make.bat
book/_build/latex/Makefile
book/_build/latex/python.ist
book/_build/latex/sphinx.sty
book/_build/latex/sphinx.xdy
book/_build/latex/sphinxcyrillic.sty
book/_build/latex/sphinxhighlight.sty
book/_build/latex/sphinxhowto.cls
book/_build/latex/sphinxmanual.cls
book/_build/latex/sphinxmessages.sty
book/_build/latex/sphinxmulticell.sty
book/rsts/color-spaces.rst
book/rsts/color-spaces_files/color-spaces_18_0.png
book/rsts/color-spaces_files/color-spaces_19_1.png
book/rsts/color-spaces_files/color-spaces_24_0.png
book/rsts/color-spaces_files/color-spaces_25_1.png
book/rsts/color-spaces_files/color-spaces_28_1.png
book/rsts/color-spaces_files/color-spaces_30_1.png
book/rsts/color-spaces_files/color-spaces_31_0.png
book/rsts/color-spaces_files/color-spaces_38_1.png
book/rsts/color-spaces_files/color-spaces_39_0.png
book/rsts/color-spaces_files/color-spaces_42_1.png
book/rsts/color-spaces_files/color-spaces_5_1.png
.ipynb_checkpoints/camera_calib-checkpoint.ipynb
opencv_samples_data/.ipynb_checkpoints/left00-checkpoint.jpg
results/calib-pattern-res-00.png
results/calib-pattern-res-01.png
results/calib-pattern-res-02.png
results/calib-pattern-res-03.png
results/calib-pattern-res-04.png
results/calib-pattern-res-05.png
results/calib-pattern-res-06.png
results/calib-pattern-res-07.png
results/calib-pattern-res-08.png
results/calib-pattern-res-00.png
results/calib-pattern-res-01.png
results/calib-pattern-res-02.png
results/calib-pattern-res-03.png
results/calib-pattern-res-04.png
results/calib-pattern-res-05.png
results/calib-pattern-res-06.png
results/calib-pattern-res-07.png
results/calib-pattern-res-08.png
opencv_samples_data/left10.jpg
camcal/.ipynb_checkpoints/Global-Shutter-vs-Rolling-Shutter-checkpoint.jpg
.ipynb_checkpoints/camera_pose_pnp-checkpoint.ipynb
Untitled.ipynb
.ipynb_checkpoints/transformations_in_2D-checkpoint.ipynb
results/calib-pattern-res-09.png
results/calib-pattern-res-10.png
results/calib-pattern-res-11.png
results/calib-pattern-res-12.png
undistorted.png
opencv-doc/pattern_tools/__pycache__/svgfig.cpython-37.pyc
.vscode/settings.json
