.ipynb_checkpoints/histogram_stretch-checkpoint.png
.ipynb_checkpoints/image-load-checkpoint.ipynb
.ipynb_checkpoints/pixel-operations-checkpoint.ipynb
python/.ipynb_checkpoints/histogram_equalization-checkpoint.py
python/data/.ipynb_checkpoints/300px-Unequalized_Hawkes_Bay_NZ-checkpoint.jpg
